# install direnv by typing "sudo apt install direnv" in the terminal
# activate project venv, example below; change path to the venv respectively
source /home/pawel/virtual_envs/otomoto_parser/bin/activate
export PYTHONPATH=$PWD

# export PS1=$PS1
unset PS1
